body {
  margin: 0;
  overflow: hidden;
}

.v3d-smart-city-container,
.v3d-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fullscreen-button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-size: 100% 100%;
  display: none;
  z-index: 1;
}

.clickable-div {
  width: 200px;
  height: 50px;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}

.expanded-content,
.test-annotate-content {
  display: none;
  background-color: lightgray;
  padding: 10px;
  font-size: 16px;
}

.test_annotate {
  width: auto;
  background-color: beige;
  z-index: 9999;
  opacity: 0;
  border: 1px solid black;
  display: inline-block;
  padding: 30px;
}

.category,
.test-annotate-category {
  cursor: pointer;
  font-size: 20px;
  margin: 0;
}

.content {
  margin: 0;
}

.test-annotate {
  width: auto;
  max-width: 200px;
  height: 100px;
  outline: 1px solid #1a1b1f;
  background-color: lightblue;
  flex-direction: column;
  margin-left: 0;
  display: none;
}

.text-block-94 {
  display: inline-block;
}

.text-block-95 {
  display: inline;
}

.test-annotate-category {
  background-color: #ffbebe;
  display: inline-block;
}

.fullscreen-open {
  background-image: url('media/fullscreen_open.svg');
}

.fullscreen-close {
  background-image: url('media/fullscreen_close.svg');
}

.main-container {
display: flex;
justify-content: center;
align-items: center;
position: fixed;
bottom: 3rem;
left: 50%;
transform: translateX(-50%);
box-sizing: border-box;
}

.dynamic-text {
display: flex;
justify-content: center;
align-items: center;
padding: 0 10px;
font-size: 24px;
background-color: #003057;
color: #ffffff;
border-radius: 15px;
height: 60px;
pointer-events: none;
margin-right: 2rem;
}

.text-option {
display: none;
font-family: Arial, sans-serif;
align-items: center;
height: 60px;
}

.text-option.visible {
display: inline;
height: 60px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem; /* set gap between items in the container */
}

.navigation-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #003057; /* green */
  color: #ffffff; /* white */
  border: none;
  border-radius: 15px; /* rounded corners */
  cursor: default;
  transition: background-color 0.3s ease;
  height: 60px; /* same height as dynamic text */
  caret-color: transparent;
}


.navigation-button:hover {
  background-color: #3251c3; /* darker green on hover */
}

.preloader-div {
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 50%;
}

.preloader-container {
position: absolute;
left: 0;
right: 0;
bottom: 0;
width: 260px;
height: 30px;
margin: auto;
border-radius: 10px;
}

.preloader-bar {
width: 100%;
height: 100%;
border-radius: 6px;
background-color: #003057;
}

.boyd-sensor-configurator {
display: block;
width: 100%;
height: 100%;
flex-direction: row;
align-items: stretch;
}

.preloader-background {
position: absolute;
z-index: 60000;
display: block;
width: 100vw;
height: 100vh;
background-image: linear-gradient(180deg, #fff, #eee);
font-family: Helveticaneuebd;
}

.company-logo {
position: absolute;
z-index: 9998;
display: flex;
width: 100%;
height: 100%;
justify-content: center;
align-items: center;
background-image: url('./images/icons/boyd_logo.webp');
background-position: 50% 50%;
background-size: 15rem;
background-repeat: no-repeat;
}

.c-loading-container {
position: absolute;
z-index: 9991;
width: 80%;
margin-top: 25%;
flex-direction: column;
align-items: center;
font-family: Helvetica, sans-serif;
}

.c-loading-container._1 {
display: block;
background-color: #f15e5e;
}

.c-loader__text {
position: relative;
display: block;
width: 100%;
margin: auto;
padding-bottom: 10px;
font-family: Helvetica, sans-serif;
color: #0c203e;
font-size: 24px;
text-align: center;
}

.c-loader__bar {
position: relative;
display: block;
width: 100%;
height: 15px;
margin: 0 auto;
}

.c-loader__bar-block {
position: absolute;
display: block;
width: 100%;
height: 1rem;
border: 1px solid #0c203e;
background-color: #0c2340;
}

.c-loader__bar-block.empty-block {
background-color: transparent;
}

/* removes tap blinking on ios devices */
* { -webkit-tap-highlight-color:rgba(0,0,0,0); }
